/* -- NAVIGATION HIDDEN -- */

.navigation{
    padding: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    backdrop-filter: blur(0px);
    -webkit-filter: url("#blur");
    filter: url("index.html#blur");
    transform: translateX(0vw);
}

.navigation .nav {
    height: 50%;
    background-color: rgba(255, 255, 255, .0);
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
    padding: 0 500px;
}

.nav::-webkit-scrollbar {
    appearance: none;
}

.navigation .nav a {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    font-size: 80px;
    width: 500% !important;
    color: #fff;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    text-align: center;
}

.navigation .nav a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 -15px 50px 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.navigation .nav a:hover {
    font-size: 150px;
    font-weight: 900;
    margin: 0 250px;
}

.navigation .nav a:hover::before {
    width: 100%;
}

.navigation .nav a:active {
    font-size: 120px;
    font-weight: 900;
    padding: 0 200px;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    z-index: 998;
}

/* Navigation Shown */
